.inventory .stat-brick {
  width: 25px;
  height: 15px;
  margin: 3px;
  box-shadow: #311a0a 0 0 6px inset;
  border-radius: 5px;
}

.inventory .stat-brick.normal {
  box-shadow: #311a0a 0 0 6px inset;
  background-color: #311a0aa0;
}

.inventory .stat-brick.extra {
  background-color: rgba(100, 200, 100, 0.75);
}

.inventory .stat-brick.loss {
  background-color: rgba(200, 100, 100, 0.75);
}
