html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  background-color: #000;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none !important;
}
.row {
  display: flex;
  flex-direction: row;
}
.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.col,
.column {
  display: flex;
  flex-direction: column;
}
.col-rev,
.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.stretch {
  align-items: stretch;
  justify-content: stretch;
}
.flex-1 {
  flex: 1;
}
.space-between {
  justify-content: space-between;
  align-content: space-between;
}
.space-around {
  justify-content: space-around;
  align-content: space-around;
}
.center {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.center-vertical {
  justify-content: center;
  vertical-align: middle;
}
.left {
  text-align: left;
}
.small {
  font-size: 75%;
}
.container-host {
  position: relative;
}
.container-host > .container {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.m-0,
.mt-0,
.my-0 {
  margin-top: 0;
}
.m-0,
.ml-0,
.mx-0 {
  margin-left: 0;
}
.m-0,
.mb-0,
.my-0 {
  margin-bottom: 0;
}
.m-0,
.mr-0,
.mx-0 {
  margin-right: 0;
}
.p-0,
.pt-0,
.py-0 {
  padding-top: 0;
}
.p-0,
.pl-0,
.px-0 {
  padding-left: 0;
}
.p-0,
.pb-0,
.py-0 {
  padding-bottom: 0;
}
.p-0,
.pr-0,
.px-0 {
  padding-right: 0;
}
.m-1,
.mt-1,
.my-1 {
  margin-top: 5px;
}
.m-1,
.ml-1,
.mx-1 {
  margin-left: 5px;
}
.m-1,
.mb-1,
.my-1 {
  margin-bottom: 5px;
}
.m-1,
.mr-1,
.mx-1 {
  margin-right: 5px;
}
.p-1,
.pt-1,
.py-1 {
  padding-top: 5px;
}
.p-1,
.pl-1,
.px-1 {
  padding-left: 5px;
}
.p-1,
.pb-1,
.py-1 {
  padding-bottom: 5px;
}
.p-1,
.pr-1,
.px-1 {
  padding-right: 5px;
}
.m-2,
.mt-2,
.my-2 {
  margin-top: 10px;
}
.m-2,
.ml-2,
.mx-2 {
  margin-left: 10px;
}
.m-2,
.mb-2,
.my-2 {
  margin-bottom: 10px;
}
.m-2,
.mr-2,
.mx-2 {
  margin-right: 10px;
}
.p-2,
.pt-2,
.py-2 {
  padding-top: 10px;
}
.p-2,
.pl-2,
.px-2 {
  padding-left: 10px;
}
.p-2,
.pb-2,
.py-2 {
  padding-bottom: 10px;
}
.p-2,
.pr-2,
.px-2 {
  padding-right: 10px;
}
.m-3,
.mt-3,
.my-3 {
  margin-top: 20px;
}
.m-3,
.ml-3,
.mx-3 {
  margin-left: 20px;
}
.m-3,
.mb-3,
.my-3 {
  margin-bottom: 20px;
}
.m-3,
.mr-3,
.mx-3 {
  margin-right: 20px;
}
.p-3,
.pt-3,
.py-3 {
  padding-top: 20px;
}
.p-3,
.pl-3,
.px-3 {
  padding-left: 20px;
}
.p-3,
.pb-3,
.py-3 {
  padding-bottom: 20px;
}
.p-3,
.pr-3,
.px-3 {
  padding-right: 20px;
}
.instant-editor {
  display: block;
  position: static;
  padding: 1px;
  margin: 1px;
}
.instant-editor input[type=text],
.instant-editor textarea {
  display: block;
  width: 100%;
  margin: auto;
}
.table-lookup {
  background-color: black;
  color: gray;
}
.table-lookup .buttons input,
.table-lookup .buttons button {
  margin: 0 !important;
}
.table-lookup .scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;
}
.table-lookup .row {
  display: flex !important;
}
.table-lookup tr.active {
  color: white;
}
.force-foreground {
  position: fixed;
  z-index: 9999999;
  top: 20%;
  left: 40%;
}
.editor-section {
  background-color: black;
  color: gray;
}
.editor-section button {
  background-color: gray !important;
  color: black !important;
  font-weight: normal !important;
  box-shadow: none !important;
  border-radius: 2px !important;
  padding: 5px !important;
  margin: 5px !important;
}
.editor-layer {
  font-family: monospace;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  overflow: hidden;
  cursor: default;
}
.editor-layer .editor {
  background-color: transparent;
  font-size: 10pt;
}
.editor-layer .editor .bg {
  background-color: black;
  color: gray;
}
.editor-layer .editor ul.menu {
  padding: 0;
  margin: 0;
}
.editor-layer .editor ul.menu a:hover {
  color: lightblue;
  cursor: pointer;
}
.editor-layer .editor ul.menu .active {
  color: white;
}
.editor-layer .editor ul.menu li {
  padding: 4px;
  list-style: none;
}
.editor-layer .editor .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.editor-layer .editor .buttons > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.editor-layer .editor .buttons input {
  margin: 5px;
}
.editor-layer .editor button {
  background-color: gray;
  color: black;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
.editor-layer .editor button.active {
  background-color: black;
  color: white;
  border: 1px white solid;
  cursor: default;
}
.editor-layer .editor button:hover {
  background-color: lightblue;
}
.editor-layer .editor button.special {
  background-color: #ad9475;
  color: #311a0a;
}
.editor-layer .editor button.red {
  background-color: red;
}
.editor-layer .editor button.blue {
  background-color: lightblue;
}
.editor-layer .editor .dock {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.editor-layer .editor .table,
.editor-layer .editor form,
.editor-layer .editor .item-def {
  border: 1px gray solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.editor-layer .editor .grab-icon {
  cursor: move;
  opacity: 0.5;
}
.editor-layer .editor .grab-icon::after {
  content: "■";
}
.editor-layer .editor .table .scroll,
.editor-layer .editor form .scroll {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
.editor-layer .editor .table .scroll {
  max-height: 200px;
  max-width: 700px;
  overflow-x: auto;
}
.editor-layer .editor form .scroll {
  max-height: 563px;
}
.editor-layer .editor table {
  margin-right: 20px;
}
.editor-layer .editor table td {
  border-left: 1px gray solid;
  white-space: nowrap;
  max-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.editor-layer .editor table td:last-of-type {
  border-right: 1px gray solid;
}
.editor-layer .editor table tr:hover > td {
  color: lightblue;
  cursor: pointer;
}
.editor-layer .editor table tr.active > td {
  color: white;
}
.editor-layer .editor form .fields .row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  margin-bottom: 5px;
}
.editor-layer .editor form .fields .row .field {
  display: flex;
  align-content: stretch;
  flex-direction: column;
}
.editor-layer .editor form .fields .row .field.with-lookup {
  flex-direction: row;
  align-items: center;
}
.editor-layer .editor form .fields .row .field.with-lookup .lookup-button {
  margin: 0;
}
.editor-layer .editor form .fields .row input {
  display: block;
  width: auto;
  margin-right: 10px;
}
.editor-layer .editor form .fields .row input[type=checkbox] {
  align-self: start;
}
.editor-layer .editor form .fields .row .vector {
  flex-direction: row;
}
.editor-layer .editor form .fields .row .vector input {
  width: 100px;
}
.editor-layer .editor .item-def .slot {
  background-image: url('img/texture/paper.jpg');
}
.editor-layer .editor .item-def .slot .inner {
  display: flex;
}
.editor-layer .editor .battle-menu {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px;
}
.editor-layer .editor .battle-menu input[type=text] {
  width: 50px;
}
.editor-layer .editor .battle-menu input[type=radio] {
  margin: 0;
  padding: 5px;
  display: inline-block;
}
.editor-layer .editor .battle-menu label {
  padding: 5px;
  display: inline-block;
}
@font-face {
  font-family: 'Vollkorn';
  src: url('font/Vollkorn-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Fell';
  src: url('font/IMFellEnglishSC-Regular.ttf') format('truetype');
}
.no-text-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}
.normal-text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  font-family: 'Vollkorn', 'Bookman Old Style', 'Times New Roman', serif;
  font-size: 16pt;
}
.decor-text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  font-family: 'Fell', 'Vollkorn', 'Bookman Old Style', 'Times New Roman', serif;
  font-size: 22pt;
}
.small-text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  font-family: 'Bookman Old Style', 'Times New Roman', serif;
}
.default-cursor {
  cursor: url('img/cursor/cursor.png'), default;
}
.savegame-layer {
  cursor: url('img/cursor/cursor.png'), default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  font-family: 'Vollkorn', 'Bookman Old Style', 'Times New Roman', serif;
  font-size: 16pt;
  color: #311a0a;
}
.savegame-layer h1,
.savegame-layer h2,
.savegame-layer h3,
.savegame-layer h4 {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  font-family: 'Fell', 'Vollkorn', 'Bookman Old Style', 'Times New Roman', serif;
  font-size: 22pt;
}
.savegame-layer h3 {
  font-size: 18pt;
}
.savegame-layer .battle,
.savegame-layer button,
.savegame-layer a {
  cursor: url('img/cursor/cursor.png'), default;
}
.savegame-layer .battle.cursor-eye {
  cursor: url('img/cursor/cursor-eye.png'), pointer;
}
.savegame-layer .battle.cursor-walk {
  cursor: url('img/cursor/cursor-walk.png'), pointer;
}
.savegame-layer .battle.cursor-exit {
  cursor: url('img/cursor/cursor-exit.png'), pointer;
}
.savegame-layer .battle.cursor-talk {
  cursor: url('img/cursor/cursor-mouth.png'), pointer;
}
.savegame-layer .battle.cursor-attack {
  cursor: url('img/cursor/cursor-dagger.png'), pointer;
}
.savegame-layer .battle.cursor-switch-character {
  cursor: url('img/cursor/cursor-character.png'), pointer;
}
.savegame-layer .switch-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 4px;
}
.savegame-layer .switch-container .label-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.savegame-layer .switch-container .switch-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.savegame-layer .switch-container .switch-inner-container .switch {
  width: 20px;
  height: 20px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  background-color: #885f32;
  box-shadow: #311a0a 1px 1px 10px;
  border-width: #e0b050;
  border-radius: 4px;
  color: #e0b050;
}
.portrait img {
  width: 100%;
  border-radius: 3px;
}
.paper {
  color: #311a0a;
  background-color: #ad9475;
  background-image: url('img/texture/paper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.paper .inner {
  box-shadow: #311a0a 0 0 40px inset;
}
.paper button {
  background-color: #885f32;
  color: sandybrown;
  box-shadow: #311a0a 1px 1px 10px;
  border-width: 0;
  border-radius: 4px;
  font-weight: bold;
  padding: 6px 15px;
  margin: 6px;
}
.paper button:hover {
  color: #e0b050;
}
.paper button:active {
  position: relative;
  top: 2px;
}
.paper button.close {
  position: relative;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
}
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #311a0a sandybrown;
  scrollbar-width: thin;
}
.scroll::-webkit-scrollbar {
  cursor: url('img/cursor/cursor.png'), default;
  width: 10px;
  height: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  cursor: url('img/cursor/cursor.png'), default;
  background: #311a0a;
}
.scroll::-webkit-scrollbar-track {
  cursor: url('img/cursor/cursor.png'), default;
  background: sandybrown;
}
.with-tooltip {
  position: relative;
  display: inline-block;
}
.with-tooltip .tooltip {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  bottom: 125%;
  left: 50%;
  background-color: #101010;
  color: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  font-weight: normal;
  opacity: 0;
  transition: opacity 0.3s;
}
.with-tooltip .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #101010 transparent transparent transparent;
}
.with-tooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.sequence-container .sequence-background canvas {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes fadeInAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOutAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.sequence-container .sequence-text div {
  opacity: 0;
  animation-name: fadeInAnim;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.sequence-container .sequence-text.fading-out div {
  opacity: 1;
  animation-name: fadeOutAnim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.sequence-container .sequence-text {
  position: absolute;
  text-align: center;
}
.sequence-container .sequence-text div {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  font-family: 'Fell', 'Vollkorn', 'Bookman Old Style', 'Times New Roman', serif;
  font-size: 22pt;
  padding: 20px;
  color: #e0e0e0;
}
.loading {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  pointer-events: none;
}
.loading div {
  border-radius: 10px;
}
.loading .progress-wrapper {
  border-width: 1px;
  padding: 1px;
  border-style: solid;
  border-color: #311a0a;
}
.loading .progress-wrapper div {
  height: 10px;
  background-color: #311a0a;
}
.main-menu-layer {
  cursor: url('img/cursor/cursor.png'), default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu-layer .main-menu {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  font-family: 'Fell', 'Vollkorn', 'Bookman Old Style', 'Times New Roman', serif;
  font-size: 22pt;
  border-radius: 10px;
  text-align: center;
}
.main-menu-layer .main-menu .item:hover {
  color: darkred;
}
.main-menu {
  color: #311a0a;
  background-color: #ad9475;
  background-image: url('img/texture/paper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
}
.main-menu .inner {
  box-shadow: #311a0a 0 0 40px inset;
}
.main-menu button {
  background-color: #885f32;
  color: sandybrown;
  box-shadow: #311a0a 1px 1px 10px;
  border-width: 0;
  border-radius: 4px;
  font-weight: bold;
  padding: 6px 15px;
  margin: 6px;
}
.main-menu button:hover {
  color: #e0b050;
}
.main-menu button:active {
  position: relative;
  top: 2px;
}
.main-menu button.close {
  position: relative;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
}
.main-menu .title {
  margin-bottom: 10px;
  max-width: 280px;
  line-height: 1;
}
.main-menu > .inner {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 0;
}
.main-menu .buttons {
  padding: 20px;
}
.main-menu .art {
  position: relative;
  width: 280px;
}
.main-menu .art div.upper {
  position: absolute;
  top: 0;
  left: 0;
}
.main-menu .art img {
  border-radius: 3px;
  width: 280px;
}
.main-menu .inventory-slots-container {
  max-width: 280px;
  padding: 0;
}
.party {
  display: flex;
  color: #311a0a;
}
.party .portraits .portrait {
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  border-radius: 5px;
}
.party .portraits .selected .portrait {
  border: 2px solid white;
}
.party .portraits .stats {
  display: flex;
  flex-direction: row;
  height: 98px;
  box-shadow: #311a0a 0 0 4px;
  margin: 2px 4px;
}
.party .portraits .stat-bar {
  display: flex;
  flex-direction: column-reverse;
  width: 8px;
  margin: 2px;
}
.party .portraits .stat-bar div {
  width: auto;
}
.party .stat-bar .stat-1 {
  background-color: red;
}
.party .stat-bar .stat-2 {
  background-color: orange;
}
.party .stat-bar .stat-3 {
  background-color: #311a0a;
}
.party .stat-bar .stat-4 {
  background-color: #311a0a;
}
.party .stat-bar .stat-5 {
  background-color: #311a0a;
}
.inventory .portrait {
  width: 235px;
  height: 235px;
}
.inventory .tabs > .tab-header {
  border-width: 0;
  box-shadow: #311a0a 0 0 15px inset;
  background-color: transparent;
  border-radius: 5px 5px 0 0;
  padding: 10px 40px;
  opacity: 0.75;
}
.inventory .tabs > .tab-header.active {
  box-shadow: #311a0a 0 -10px 20px -10px;
  opacity: 1;
}
.inventory .tabs > .tab-header.active:first-of-type {
  box-shadow: #311a0a -10px -10px 20px -10px;
}
.inventory .tabs > .tab-header.active:last-of-type {
  box-shadow: #311a0a 10px -10px 20px -10px;
}
.inventory .tabs > .filler {
  box-shadow: #311a0a 4px -8px 9px -9px inset;
}
.inventory .tab-content {
  box-shadow: #311a0a 0 10px 22px -11px;
}
.inventory .stat-badge {
  font-size: 130%;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: #311a0a 0 0 16px;
  background-size: initial;
}
.inventory .stat-badge .small {
  align-self: flex-end;
  opacity: 0.5;
}
.inventory .stat-wrapper .stat-name {
  -visibility: hidden;
}
.inventory .stat-wrapper:hover .stat-name {
  visibility: visible;
}
.inventory .inventory-basic .stat-bar {
  display: flex;
  box-shadow: #311a0a 0 0 4px;
  padding: 3px;
  height: 15px;
}
.inventory .inventory-basic .stats-basic .stat-badge {
  position: relative;
  right: -7px;
}
.inventory .inventory-basic .stats-basic .stat-basic-bar .stat-bar {
  box-shadow: #311a0a 4px 1px 9px -1px;
  padding-left: 4px;
}
.inventory .inventory-basic .stats-basic .bottom {
  position: relative;
  top: -10px;
}
.inventory .inventory-basic .stats-combat {
  font-size: 85%;
}
.item-slot .inner {
  box-shadow: #311a0a 0 0 40px;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 10px;
}
.item-slot .inner img {
  width: 100%;
}
.inventory-slots-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}
.inventory-slots-container .slot {
  margin: 5px;
}
.inventory-slots-container .slot .inner {
  box-shadow: #311a0a 0 0 40px;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 10px;
}
.inventory-slots-container .slot .inner img {
  width: 100%;
}
.selected-item-slot {
  position: absolute;
  pointer-events: none;
}
.inventory .inventory-items .inventory-slots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inventory .inventory-items .inventory-character {
  position: relative;
  display: block;
  margin: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../../assets/img/ui/inventory-female.png');
}
.inventory .inventory-items .inventory-character.male {
  background-image: url('../../../assets/img/ui/inventory-male.png');
}
.inventory .inventory-items .inventory-character .stats-consumption {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 75%;
  width: 60px;
  padding: 5px;
}
.inventory .inventory-items .inventory-character .stats-consumption .stat-wrapper {
  box-shadow: #311a0a 0 0 10px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}
.inventory .inventory-items .inventory-character .stats-consumption .stat-wrapper .stat-bar div {
  height: 10px;
}
.inventory .inventory-items .inventory-character .slot {
  position: absolute;
}
.inventory .inventory-items .inventory-character .slot .inner {
  box-shadow: #311a0a 0 0 40px;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 10px;
}
.inventory .inventory-items .inventory-character .slot .inner img {
  width: 100%;
}
.inventory .inventory-items .inventory-character .slot.head {
  top: 2%;
  left: 38%;
}
.inventory .inventory-items .inventory-character .slot.leftHand {
  top: 45%;
  right: 4%;
}
.inventory .inventory-items .inventory-character .slot.rightHand {
  top: 45%;
  left: 4%;
}
.inventory .inventory-items .inventory-character .slot.body {
  top: 20%;
  left: 38%;
}
.inventory .inventory-items .inventory-character .slot.hips {
  top: 45%;
  left: 38%;
}
.inventory .inventory-items .inventory-character .slot.feet {
  bottom: 4%;
  left: 38%;
}
.inventory .inventory-items .slot.drop .inner {
  background-color: rgba(200, 0, 0, 0.2);
}
.inventory .inventory-stats .stat-skill {
  align-items: center;
}
.inventory .inventory-stats .stat-skill .name {
  width: 200px;
}
.inventory .inventory-stats .stat-skill .number {
  width: 50px;
  text-align: center;
}
.inventory .inventory-stats .stat-skill .value .stat-brick {
  flex: 1;
  height: 20px;
  margin: 3px;
  box-shadow: #311a0a 0 0 6px inset;
  border-radius: 5px;
}
.inventory .inventory-stats .stat-skill .value .stat-brick.normal {
  box-shadow: #311a0a 0 0 6px inset;
  background-color: #885f32;
}
.inventory .inventory-stats .stat-skill .value .stat-brick.extra {
  background-color: rgba(100, 200, 100, 0.75);
}
.inventory .inventory-stats .stat-skill .value .stat-brick.loss {
  background-color: rgba(200, 100, 100, 0.75);
}
.inventory .inventory-stats .level-progress {
  box-shadow: #311a0a 0 0 4px;
  padding: 3px;
}
.inventory .inventory-stats .level-progress .stat-bar div {
  height: 15px;
  background-color: #885f32;
}
.inventory .inventory-quests .completed {
  color: black;
  opacity: 0.5;
}
@keyframes fadeInAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.conversation {
  animation-name: fadeInAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.conversation .overlay {
  background-color: black;
  opacity: 0.6;
}
.conversation .panel {
  width: 900px;
  max-width: 100%;
  height: 600px;
  max-height: 85%;
  border-radius: 10px;
  box-shadow: #311a0a 0 0 60px;
  display: flex;
}
.conversation .inner {
  border-radius: 10px;
  padding: 2rem;
  box-shadow: #311a0a 0 0 40px inset;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.conversation .title {
  margin-bottom: 10px;
}
.conversation .info .portrait {
  margin-right: 20px;
}
.conversation .info .portrait img {
  max-width: 320px;
  max-height: 200px;
}
.conversation .text p {
  margin-top: 0;
  margin-bottom: 10px;
}
.conversation .entries {
  flex: 1 2;
}
.conversation .responses {
  height: 100px;
}
.conversation a {
  color: saddlebrown;
}
.conversation a:hover {
  color: darkred;
}
.conversation .line {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
  align-items: flex-start;
}
.conversation .line .portrait {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}
.conversation .line .text {
  flex: 1;
}
.conversation .line.response {
  padding-left: 20px;
  color: saddlebrown;
}
.conversation .line.narrator {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  font-family: 'Bookman Old Style', 'Times New Roman', serif;
}
