.instant-editor {
	display: block;
	position: static;
	padding: 1px;
	margin: 1px;
}

.instant-editor input[type=text],
.instant-editor textarea {
	display: block;
	width: 100%;
	margin: auto;
}

.editor-layer.full,
.editor-layer.full .editor,
.editor-layer.full .editor .dock {
	width: 100%;
}

.editor-layer {
	position: absolute;
	max-height: 100%;
	overflow: hidden;
}

.editor {
	background-color: transparent;
	font-size: 10pt;
}

.editor .bg {
	background-color: black;
	color: gray;
}

.editor .table-selection .inner {
	padding: 10px;
}

.editor .buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.editor .buttons > div {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.editor button {
	background-color: gray;
	color: black;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}

.editor button.special {
	background-color: var(--light-brown);
	color: var(--dark-brown);
}

.editor button.red {
	background-color: red;
}

.editor button:hover {
	background-color: lightblue;
}

.editor button.active {
	background-color: black;
	color: white;
	border: 1px white solid;
	cursor: default;
}

.editor .dock {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.editor .table,
.editor form,
.editor .item-def {
	border: 1px gray solid;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}

.editor .table .scroll,
.editor form .scroll {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

.editor .table .scroll {
	max-height: 200px;
	max-width: 700px;
	overflow-x: auto;
}

.editor form .scroll {
	max-height: 563px;
}

.editor table {
	margin-right: 20px;
}

.editor table td {
	border-left: 1px gray solid;
	white-space: nowrap;
}

.editor table td:last-of-type {
	border-right: 1px gray solid;
}

.editor table tr:hover > td {
	color: lightblue;
	cursor: pointer;
}

.editor table tr.active > td {
	color: white;
}

.editor form .fields .row {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	margin-bottom: 10px;
}

.editor form .fields .row .field {
	display: flex;
	align-content: stretch;
	flex-direction: column;
}

.editor form .fields .row .field.with-lookup {
	flex-direction: row;
	align-items: center;
}

.editor form .fields .row .field.with-lookup .lookup-button {
	margin: 0;
}

.table-lookup {
	position: absolute;
}

.editor form .fields .row input {
	display: block;
	width: auto;
	margin-right: 10px;
}

.editor form .fields .row input[type=checkbox] {
	align-self: start;
}

.editor form .fields .row .vector {
	flex-direction: row;
}

.editor form .fields .row .vector input {
	width: 100px;
}

.editor .item-def .slot {
	background-image: url('../img/texture/paper.jpg');
}

.editor .item-def .slot .inner {
	display: flex;
}

.menu a:hover {
	color: lightblue;
	cursor: pointer;
}

.menu .active {
	color: white;
}

.menu,
.menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.force-foreground {
	position: fixed;
	z-index: 9999999;
	top: 20%;
	left: 40%;
}

.editor .battle-menu {
	position: fixed;
	right: 20px;
	top: 20px;
	padding: 10px;
}

.editor .battle-menu input[type=text] {
	width: 50px;
}
