.inventory {
	position: absolute;
	left: 260px;
	bottom: 20px;

}

.inventory .inner {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.inventory .portrait {
	width: 250px;
}

.inventory .inventory-slots {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inventory .inventory-slots > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px
}

.inventory .slot {
	margin: 5px;

}

.inventory .slot .inner {
	box-shadow: #311a0a 0 0 40px;
	width: 80px;
	height: 80px;
	padding: 0;
}

.inventory .slot .inner img {
	width: 100%;
}

.inventory .inventory-items {
	margin-left: 20px;
}

.inventory .inventory-character {
	position: relative;
	display: block;
	height: 600px;
	width: 350px;
	margin: 20px;
	background-image: url('../img/ui/inventory-female.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.inventory .inventory-character .slot {
	position: absolute;
}

.inventory .inventory-character .slot.head {
	top: 0;
	left: 20%;
}

.inventory .inventory-character .slot.leftHand {
	top: 40%;
	right: 0;
}

.inventory .inventory-character .slot.rightHand {
	top: 45%;
	left: 0;
}

.inventory .inventory-character .slot.clothing {
	top: 33%;
	left: 40%;
}

.inventory .slot.drop .inner {
	background-color: rgba(200, 0, 0, 0.2);
}

.selected-item-slot {
	position: absolute;
	pointer-events: none;
}
