.inventory {
	position: absolute;
	left: 250px;
	bottom: 20px;

}

.inventory .inner {
	display: flex;
	flex-direction: column;
}

.inventory .portrait {
	width: 250px;
}

.inventory .inventory-slots {
	height: 250px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.inventory .inventory-slots .slot {
	margin: 5px;

}

.inventory .inventory-slots .slot .inner {
	width: 80px;
	height: 80px;
	padding: 0;
}

.inventory .inventory-slots .slot .inner img {
	width: 100%;
}

.selected-item-slot {
	position: absolute;
	pointer-events: none;
}
