.party {
	display: flex;
	color:var(--dark-brown);
	text-align: center;
}

.party.paper,
.party.paper > .inner {
	border-radius: 0;
}

.party .portraits .portrait {
	width: 100px;
	height: 100px;
	border: 2px solid transparent;
	border-radius: 5px;
}

.party .selected .portrait {
	border: 2px solid white;
}

.party .character {
	display: flex;
	flex-direction: row;
}

.party .stats {
	display: flex;
	flex-direction: row;
	height: 98px;
	box-shadow: #311a0a 0 0 4px;
	margin: 2px 4px;
}

.party .stat-bar {
	display: flex;
	flex-direction: column-reverse;
	width: 8px;
	margin: 2px;
}

.party .stat-bar div {
	width: auto;
}

.party .stat-bar .stat-101 {
	background-color: red;
}

.party .stat-bar .stat-102 {
	background-color: orange;
}
