.party {
	display: flex;

	color:var(--dark-brown);
	background-image: url('../img/texture/paper.jpg');
	background-color: sandybrown;
	text-align: center;

	border-radius: 10px;
	box-shadow: #311a0a 0 0 60px;
}

.party .inner  {
	border-radius: 10px;
	padding: 2rem;
	box-shadow: #311a0a 0 0 40px inset;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.party .portrait {
	width: 120px;
	height: 120px;

	border: 2px solid transparent;
	border-radius: 5px;
}

.party .selected .portrait {
	border: 2px solid white;
}

.party .character {
	display: flex;
	flex-direction: row;
}

.party .stats {
	display: flex;
	flex-direction: row;
	height: 118px;
	box-shadow: #311a0a 0 0 4px;
	margin: 2px 4px;
}

.party .stat-bar {
	display: flex;
	flex-direction: column-reverse;
	width: 8px;
	margin: 2px;
}

.party .stat-bar div {
	width: auto;
}

.party .stat-bar .stat-101 {
	background-color: red;
}

.party .stat-bar .stat-102 {
	background-color: orange;
}
