@font-face {
	font-family: 'Vollkorn';
	src: url('../Vollkorn-SemiBold.ttf') format('truetype');
}

:root {
	--dark-brown: #311a0a;
	--light-brown: saddlebrown;
	--orange: sandybrown;
}

.hidden {
	display: none !important;
}

.menu, svg {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html, body {
	font-family: 'Vollkorn', 'Georgia', serif;
	color: black;
	font-size: 12pt;
	background: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container-host,
.container-host > canvas,
.container-host > svg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading {
	position: fixed;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
	pointer-events: none;
}

.loading div {
	width: 250px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../img/paper.png');
}

.overlay {
	background-color: rgba(150, 150, 150, 0.5);
}

.portrait img {
	width: 100%;
	border-radius: 3px;
}

.savegame-layer {
	cursor: url('../img/cursor.png'), auto;
}

.paper {
	color:var(--dark-brown);
	background-image: url('../img/texture/paper.jpg');
	background-color: sandybrown;
	border-radius: 10px;
	box-shadow: #311a0a 0 0 60px;
	display: flex;
}

.paper .inner  {
	border-radius: 10px;
	padding: 2rem;
	box-shadow: #311a0a 0 0 40px inset;
	flex: 1;
}
