.loading {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  pointer-events: none;

  div {
	border-radius: @m-2;
  }
}

.main-menu-layer {
  .default-cursor();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .main-menu {
	.decor-text();
	border-radius: @m-2;
	text-align: center;

	.item {
	  &:hover {
		color: @red;
	  }
	}
  }
}
