@font-face {
	font-family: "Vollkorn";
	src: url("../assets/Vollkorn-SemiBold.ttf") format('truetype');
}

:root {
	--dark-brown: #311a0a;
	--light-brown: saddlebrown;
	--orange: sandybrown;
}

.hidden {
	display: none !important;
}

.menu, svg {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html, body {
	font-family: "Vollkorn", "Georgia", serif;
	color: black;
	font-size: 12pt;
	background: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container-host,
.container-host > canvas,
.container-host > svg {
	position: absolute;
	top: 0;
	left: 0;
}

.editor {
	background-color: transparent;
	font-size: 10pt;
}

.editor.full,
.editor.full .dock {
	width: 100%;
}

.editor .bg {
	background-color: black;
	color: gray;
}

.editor .table-selection {
	padding: 10px;
}

.editor .buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.editor .buttons > div {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.editor button {
	background-color: gray;
	color: black;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}

.editor button.special {
	background-color: var(--light-brown);
	color: var(--dark-brown);
}

.editor button:hover {
	background-color: lightblue;
}

.editor button.active {
	background-color: black;
	color: white;
	border: 1px white solid;
	cursor: default;
}

.editor .dock {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.editor .table,
.editor form {
	border: 1px gray solid;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}

.editor table td {
	border-left: 1px gray solid;
}

.editor table td:last-of-type {
	border-right: 1px gray solid;
}

.editor table tr:hover {
	color: lightblue;
	cursor: pointer;
}

.editor form .fields .row {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	margin-bottom: 10px;
}

.menu a:hover {
	color: lightblue;
	cursor: pointer;
}

.menu .active {
	color: white;
}

.menu,
.menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.loading {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
	pointer-events: none;
}

.loading div {
	width: 250px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../assets/img/paper.png');
}

.overlay {

}

.portrait img {
	width: 100%;
}

.conversation {
	display: flex;
	position: fixed;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: default;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.conversation .panel {
	margin: auto;
	color:#311a0a;
	background-image: url('../assets/img/texture/paper.jpg');
	background-color: sandybrown;
	width: 900px;
	max-width: 100%;
	height: 85%;
	max-height: 100%;
	border-radius: 10px;
	box-shadow: #311a0a 0 0 60px;
	display: flex;
}

.conversation .inner {
	border-radius: 10px;
	padding: 2rem;
	box-shadow: #311a0a 0 0 40px inset;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.conversation .scroll {
	overflow-y: auto;
	overflow-x: hidden;
}

.conversation .scroll {
	scrollbar-color: var(--dark-brown) var(--orange);
	scrollbar-width: thin;
}

.conversation .scroll::-webkit-scrollbar {
	width: 10px; /* Mostly for vertical scrollbars */
	height: 10px; /* Mostly for horizontal scrollbars */
}

.conversation .scroll::-webkit-scrollbar-thumb { /* Foreground */
	background: #311a0a;
}

.conversation .scroll::-webkit-scrollbar-track { /* Background */
	background: sandybrown;
}

.conversation .info {
	display: flex;
	flex-direction: row;
}

.conversation .header {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.conversation .info .portrait {
	max-width: 150px;
	max-height: 150px;
	margin-right: 20px;
}

.conversation .info .description {
	flex: 1;
}

.conversation .entries {
	flex: 1 2;
}

.conversation .responses {
	height: 100px;
}

.conversation h2 {
	margin: 0 0 10px 0;
}
.conversation a {
	cursor: pointer;
	color: saddlebrown;
}

.conversation a:hover {
	color: orange;
}

.conversation .line {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	align-items: flex-start;
}

.conversation .line .portrait {
	max-width: 50px;
	max-height: 50px;
	margin-right: 10px;
}

.conversation .line .text {
	flex: 1;
}

.conversation .line.response {
	padding-left: 20px;
}

.instant-editor {
	display: block;
	position: static;
	padding: 1px;
	margin: 1px;
}

.instant-editor input[type=text],
.instant-editor textarea {
	display: block;
	width: 100%;
	margin: auto;
}
