@font-face {
	font-family: "Vollkorn";
	src: url("../res/Vollkorn-SemiBold.ttf") format('truetype');
}

.history .section-header {
	text-align: center;
	line-height: 150%;
}

.menu, svg {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html, body {
	font-family: "Vollkorn", "Georgia", serif;
	color: black;
	font-size: 120%;
	background: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.main .map svg,
.main .three,
.debug-menu {
	position: absolute;
	top: 0;
	left: 0;
}

.three {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../res/img/paper.png');
	padding: 25px;
}

.hidden {
	display: none !important;
}

.menu {
	position: fixed;
	z-index: 1000;
}

.menu a:hover {
	color: white;
	cursor: pointer;
}

.menu ul,
.menu ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu.main {
	top: 15%;
	left: 15%;
}

.menu.main ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.menu.main ul li {
	flex: 1 1 auto;
}

.menu.list ul {
	max-height: 600px;
}

.menu.list ul li {
	padding-right: 25px;
}

.loading {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
	pointer-events: none;
}

.loading div {
	width: 250px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../res/img/paper.png');
}
